* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
}

header {
  height: 5%;
  background-color: rgb(158, 191, 221);
}

main {
  height: 60%;
  background-color: rgb(126, 170, 211);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  height: 20%;
}

ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

ul li {
  list-style-type: none;
  margin: 0 10px 0 10px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.social-links a:hover {
  opacity: 0.5;
}