.home__section {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
}

.home__title {
    color: var(--primary-green);
    margin-bottom: 1.5rem;
}

.home__username {
    color: var(--secondary-gray);
    font-size: var(--text-4xl);
    font-weight: 600;
}

.home__subtitle {
    margin-top: 0.625rem;
    font-size: var(--text-3xl);
    font-weight: 600;
}

.home__description {
    margin-top: 1.25rem;
    font-size: var(--text-lg);
    max-width: 32rem;
}

.home__cta {
    margin-top: 5rem;
}

.cta__link {
    border: 1px solid var(--primary-green);
    color: var(--primary-green);
    text-decoration: none;
    padding: 1.25rem 1.75rem;
    border-radius: 0.375rem;
}

.cta__link:hover {
    color: #0a192f;
    background-color: var(--primary-green);
    transition: all 0.2s;
}

@media (min-width: 640px) {
    .home__username {
        font-size: var(--text-5xl);
    }
    
    .home__subtitle {
        font-size: var(--text-4xl);
    }
}

@media (min-width: 768px) {
    .home__username {
        font-size: var(--text-6xl);
    }
    
    .home__subtitle {
        font-size: var(--text-5xl);
    }
}