#content{
    position: relative;
    width: calc(100% - 268px);
    height: 100%;
    margin-left: 268px;
    overflow: auto;
    font-size: 0.875rem;
}

#content section{
    padding-top: 50px;
    padding-left: 32px;
    padding-right: 32px;
}

#content section:first-child{
    padding-top: 100px;
}

#content section:last-child{
    padding-bottom: 100px;
}

#content section .card-wrapper{
    display: flex;
    width: 100%;
    margin-top: 20px;
    column-gap: 24px;
}

#content section .card-wrapper .card{
    position: relative;
    width: 148px;
    height: 239px;
    border-radius: 10px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    row-gap: 15px;
    background-color: #181818;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

#content section .card-wrapper .card:hover{
    background-color: #282828;

}

#content section .card-wrapper .card .mdi-play{
    position: absolute;
    bottom: 40%;
    right: 9%;
    border-radius: 50%;
    padding: 10px;
    background-color: #1fdf64;
    box-shadow: 0 8px 8px rgb(0 0 0 / 30%);
    columns: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: bottom 0.3s ease;
}

#content section .card-wrapper .card:hover .mdi-play{
    opacity: 1;
    bottom: 42%;
}

#content section .card-wrapper .card img{
    width: 100%;
    max-width: 150px;
    height: auto;
}

#content .title{
    font-weight: bold;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

#content .subtitle{
    font-size: small;
    font-weight: 200;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    color: #a7a7a7;

}